#nav-list{
    list-style-type: none;
    display: flex;
    color: #000;
    margin-right: 10px;
}

#navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.nav-item{
    margin: 10px;
}

#intro{
    height: 800px;
    background-image: url("images/bgi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 300%;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding: 50px;
}

html{
    scroll-behavior: smooth;
}

#about{
    height: 600px;
    background-color: #CCC;
    margin: 10px;
    padding: 150px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#about-txt{
    padding: 15px;
    border-bottom-style: solid;
}

.icon{
    margin: 15px;
    width: max-content;
    height: max-content;
    font-size: xx-large;
}

.icon:hover{
    color: steelblue;
}

.icon:active{
    border-style: solid;
    border-width: 2px;
    border-color: steelblue;
    border-radius: 5px;
}

#projects{
    height: 300px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding: 100px;
    background-color: #333;
    color: white;
}

#pcards{
    display: flex;
    justify-content: center;
}

.card{
    color: black;
    margin: 25px;
}

#skills{
    height: 800px;
    margin: 10px;
    background-color: #CCC;
    padding: 20px;
    text-align: center;
    padding : 200px;
    padding-top: 125px;
}

#s-cards1{
    display: flex;
    justify-content: center;
}

#s-cards2{
    display: flex;
    justify-content: center;
}

#contact{
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    margin: auto;
    background-color: #333;
}

#skillsgroup{
    text-align: left;
    display: flex;
    margin-top: 50px;
}

.skill{
    margin: 20px;
    width: 30%;
}

.skilltext{
    color : #CCC;
    margin-left: 10px;
}

.skill:hover .skilltext{
    color: black ;
}

.stars{
    display: flex;
    color: #CCC;
}

.skill:hover .stars{
    color: black; ;
}





@media only screen and (max-width: 800px) {
    #about {
      padding-left: 25px;
      padding-right: 25px;
    }

    #skills {
        padding-left: 25px;
        padding-right: 25px;
        height: 1250px;
      }

    #skillsgroup{
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        margin-bottom: 0px;
    }

    .skill{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn{
        display: none;
    }
    
  }