#nav-list{
    list-style-type: none;
    display: flex;
    color: #000;
}

#navigation{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.nav-item{
    margin: 10px;
}

#intro{
    height: 800px;
    background-image: url("images/bgi1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 300%;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding: 50px;
}

html{
    scroll-behavior: smooth;
}

#about{
    height: 800px;
    background-color: lightseagreen;
    margin: 10px;
    padding: 250px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#about-txt{
    padding: 15px;
    border-bottom-style: solid;
}

.icon{
    margin: 15px;
    font-size: xx-large;
}

#projects{
    height: 800px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding: 100px;
    background-color: royalblue;
}

#pcards{
    display: flex;
    justify-content: center;
}

.card{
    margin: 25px;
}

#skills{
    height: 800px;
    margin: 10px;
    background-color: lightseagreen;
    padding: 20px;
    text-align: center;
    padding : 200px;
}

#s-cards1{
    display: flex;
    justify-content: center;
}

#s-cards2{
    display: flex;
    justify-content: center;
}

#contact{
    height: 700px;
    text-align: center;
    margin: 10px;
    background-color: royalblue;
    padding : 350px;
}